.events,
.text-content {
	background: #fff;
	padding: 40px 30px;
	text-align: left;
}
body .text-content h2 {
	background: none;
	color: #000;
	font-size: 2rem;
	box-shadow: none;
	padding-left: 0px;
	margin-bottom: 5px;
	margin-top: 10px;
}

.text-content p {
	max-width: 100%;
}

body .events h2 {
	font-size: 1.3rem;
	background: none;
	box-shadow: none;
	color: var(--textColor);
	text-align: left;
	margin-bottom: 0px;
	padding-left: 0px;
}

.eventWrapper {
	margin-bottom: 50px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 30px;
}

.events .date {
	font-weight: lighter;
	font-style: italic;
}

.returnLink {
	color: #fff;
	display: flex;
	justify-content: end;
	text-decoration: none;
}

.returnLink:hover {
	text-decoration: underline;
}

.returnLink.bottom {
	color: var(--primary-red);
}
