.events,
.text-content {
	background: #fff;
	padding: 40px 30px;
	text-align: left;
}
body .text-content h2 {
	background: none;
	color: #000;
	font-size: 2rem;
	box-shadow: none;
	padding-left: 0px;
	margin-bottom: 5px;
	margin-top: 10px;
}

.text-content p {
	max-width: 100%;
}

body .events h2 {
	font-size: 1.3rem;
	background: none;
	box-shadow: none;
	color: var(--textColor);
	text-align: left;
	margin-bottom: 0px;
	padding-left: 0px;
}

.eventWrapper {
	margin-bottom: 50px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 30px;
}

.events .date {
	font-weight: lighter;
	font-style: italic;
}

.returnLink {
	color: #fff;
	display: flex;
	justify-content: end;
	text-decoration: none;
}

@media(max-width: 1000px){
	.returnLink{
		color: #000;
	}
}

.returnLink:hover {
	text-decoration: underline;
}

.returnLink.bottom {
	color: var(--primary-red);
}

.categories{
	margin-bottom: 10px;
	margin-top: 5px;
}

.cat-item{
	color: #9c9c9c;
	background: #efefef;
	display: inline-block;
	padding: 3px 5px;
	border-radius: 5px;
	margin-right: 10px;
}


.wp-block-button__link {
	color: #fff;
	background-color: #32373c;
	border-radius: 9999px;
	box-shadow: none;
	text-decoration: none;
	padding: calc(0.667em + 2px) calc(1.333em + 2px);
	font-size: 1.125em;
}
body .is-layout-flex {
	flex-wrap: wrap;
	align-items: center;
}

.wp-block-buttons{
	margin-bottom: 20px;
}

.wp-block-button__link:hover{
	color: #de3434;
}
