.ReactModal__Body--open {
	overflow: hidden;
}

.col-wrapper {
	display: flex;
	padding: 0px 20px;
}

@media (max-width: 1200px) {
	.col-wrapper {
		display: block;
	}
}

@media (min-width: 960px) {
	.carousel .control-dots {
		bottom: -16px !important;
	}
}

.col-wrapper .col {
	padding: 15px;
	flex: auto;
}

.col-wrapper .col img {
	width: 200px;
}

.col h4 {
	margin-top: 15px;
}

.col img {
	width: 100%;
	max-width: 400px;
	margin: 0px 30px;
}

.ReactModal__Content {
	inset: 50px !important;
	padding: 30px !important;
	height: 500px;
	overflow: visible !important;

}


@media(max-width: 1200px){ 
	.ReactModal__Content {
	height: 650px;
	}
}
@media(max-width: 800px){ 
	.ReactModal__Content {
	height: auto;
	}
}


.ReactModal__Overlay {
	background-color: rgba(0, 0, 0, 0.55) !important;
}

.closeButton {
	position: absolute;
	top: -10px;
	right: -10px;
	border-radius: 50%;
	padding: 0.375rem 0.62rem !important;
	background: #333;
}

.carousel.carousel-slider .control-arrow {
	background: #545454;
}

.carousel .control-dots .dot {
	background: red;
}

.carousel .carousel-status {
	font-size: 1rem;
	text-shadow: none;
	color: var(--primary-blue);
	right: 40px;
}

#home-container .carousel.carousel-slider {
	max-height: 600px;
}

.carousel.carousel-slider .control-arrow {
	height: 60px;
	top: 50%;
}

@media (max-width: 1200px) {
	.carousel p {
		/* display: inline-block; */
	}
}

.scheduleButton button {
	position: relative;
	z-index: 999999;
}
